h1 {
  color: #c3a343;
}

.title {
  min-width: 190px;
  margin-right: 5px;
  color: #c3a343;
  // border: 1px solid black;
}

.btn-outline-light {
  color: #c3a343;
  border: 1px solid #c3a343;
}

.button {
  padding-top: 9px;
  margin-right: 5px;
  // border: 1px solid black;
}

.counter {
  min-width: 150px;
  padding-top: 15px;
  font-weight: 700;
  color: white;
  // border: 1px solid black;
}
